<h2>Person</h2>
<form asp-action="Nguoi">
    <label>Họ và Tên:</label>
    <input type="text" name="TenNguoi"  >
    <br>
    <br>
    <label>Sở thích:</label>
    <input type="text" name="Sothich"  >
    <br>
    <Br>
    <label>năm sinh: </label>
    <input type="DateTime" name="Namsinh"  >
    <br>
    <input type="submit" value="Send">
    
</form>
<h2>@ViewBag.Nguoi</h2>