<form asp-action="XoaKhoangTrang">
    <label>Nhập chuỗi:</label>
    <input type="text" name="strInput">
    <br>
    <br>
    <input type="submit" value=" xoakhoangtrang">
 </form>
<h3>kết quả sau khi xóa khoảng trắng là: @ViewBag.thongbao</h3>